.profile__avatar-button {
  border-radius: 50%;
  line-height: 0;
  padding: 0;
  position: relative;
  /* background-color: #000; */
  border: none;
  flex: 0 0 auto;
}

.profile__avatar-button::before {
  content: "";
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 50%;
  background-image: url("../../../images/icon-edit.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center center;
  /* background-color: transparent; */
  opacity: 0;
  transition: opacity 0.1s linear 0s;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile__avatar-button:hover::before {
  background-color: #000;
  opacity: 0.8;
}
