.popup__tooltip {
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-position: top center;
  margin: 24px 0;
  padding: 152px 0 0;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}
