.popup__container {
  background: #fff;
  width: 430px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  padding: 36px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
