.header {
  max-width: 880px;
  padding: 45px 0 41px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 1024px) {
  .header {
    padding: 28px 27px 32px 27px;
  }
}
